<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @shirt.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@shirt.photo_url, width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Some awesome description of our amazing teddy.</p>
      <p>Amount: <%= humanized_money_with_symbol(@shirt.price) %></p>

      <%= form_tag orders_path do %>
      <%= hidden_field_tag 'shirt_id', @shirt.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
      <br>

              <div id="reviews">
              <% if @shirt.reviews.blank? %>
              Be the first to leave a review for <%= @shirt.name %>
              <% else %>
              <% @shirt.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
      <%= render 'reviews/form', shirt: @shirt, review: @review %>


    </div>
  </div>
</div>
